body {
    box-sizing: border-box;
    margin: 0 auto;
    text-align: center;
    font-family: 'Press Start 2P', cursive;
    background-color: darkblue;
    color: yellow;    
}

.main-app {
    min-width: 50%;
    max-width: 80%;
    margin: 0 auto;
}

.counter {
    margin: 56px auto;
    font-size: 32px;
    width: 112px;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    
}

.btn-section {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    user-select: none; /* Prevents selection and highlighting */
}

.first-wrapper {
    margin-bottom: 56px;
}

.counter-btn {
    background-color: darkgrey;
    color: black;
    font-weight: bold;
    padding: 20px 32px;
    margin: 12px;
    border-radius: 8px;
    border: 2px solid grey;
}

.counter-btn:hover {
    cursor: pointer;
}

